#body_main {
  font-family: Arial, sans-serif;
  min-width: 95%;
  margin: 10px;
  line-height: 1.6;
  background-color: #c1dfe4;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar a {
  font-family: "Fjalla One";
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.navbar a.selected {
  color: #17a2b8;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btnStyle {
  font-family: "Fjalla One";
  letter-spacing: 1px;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
#container {
  width: 75%;
  padding: 20px;
  margin-left: 10px;
}
.sidebar {
  position: fixed;
  width: 20%;
  text-align: center;
  height: 100%;
  float: right;
  margin-top: 70px;
  right: 22px;
  display: flex;
  flex-direction: column;
}

.skillsContainer {
  margin-top: 50px;
  width: 100%;
  padding-top: 5px;
  height: auto;
  margin: 0 auto;
  align-items: center;
}

.introduction_text {
  font-family: "Francois One", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  color: #555;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.avatar {
  margin-top: 50px;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #ffffff;
  height: auto;
  margin: 0 auto;
}
.imgNameFont {
  font-family: "Fjalla One", sans-serif;
  font-size: 22px;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 10px;
}
.skillsHeading {
  text-decoration: underline;
  font-family: "Francois One";
  font-size: 20px;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 3px;
}

.skills {
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
  color: #5d5151;
  line-height: 15px;
  margin-top: 10px;
  align-self: center;
}

.border {
  border: 5px solid #ffffff;
  border-width: 2px;
  border-radius: 5px;
  padding: 0px 5px 3px 15px;
  margin-bottom: 10px;
}

.title {
  margin-top: 50px;

  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
}
.sectionHeading {
  font-family: "Francois One";
  font-size: 22px;
  color: #2f2d2d;
  margin-top: 10px;
  margin-bottom: 3px;
}
.sectionParagraph {
  color: #605959;
  margin-top: 5px;
  line-height: inherit;
  justify-content: right;
  padding-right: 20px;
  text-align: justify;
  font-size: 16px;
}

#ul {
  margin-left: 10px;
}

.linkedIn {
  color: #5d5151;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}
.linkedIn a {
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
}
.linkedIn a :hover {
  color: #d6ebba;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

li {
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  color: #5d5151;
  display: flex;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.experience-item {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px;
  position: relative;
  display: block;
}
.experience-item h3 {
  margin: 0;
}
.experience-item p {
  margin: 5px 0;
}
@media screen and (min-width: 781px) and (max-width: 1080px) {
  .sidebar {
    margin-top: 60px;
    right: 12px;
  }
  #container {
    width: 75%;
    padding: 10px;
    margin-left: 0px;
  }
}

@media screen and (min-width: 481px) and (max-width: 780px) {
  .sidebar {
    margin-top: 60px;
    right: 12px;
  }
  #container {
    width: 75%;
    padding: 10px;
    margin-left: 0px;
  }
  .title {
    margin-top: 50px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .introduction_text {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  .imgNameFont {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .skillsHeading {
    font-size: 18px;
    margin-top: 15px;
  }

  .skills {
    font-size: 18px;
    margin-top: 6px;
  }

  .sectionHeading {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 3px;
  }
  .sectionParagraph {
    padding-right: 10px;
    font-size: 14px;
  }
  .model-content {
    left: 50%;
    width: 80%;
    margin-top: 40px;
  }
  li {
    font-size: 14px;
  }
  .experience-item {
    padding: 6px;
    margin: 1px 1px;
    position: relative;
    display: block;
  }
  .experience-item h3 {
    font-size: 16px;
    margin: 0;
  }
  .experience-item p {
    font-size: 16px;
    margin: 0px 0;
  }

  .navbar {
    height: 40px;
    padding: 5px 0;
  }

  .navbar li {
    margin: 0 8px;
  }
  .navbar a {
    letter-spacing: 0.6px;
    font-size: 14px;
  }

  .btnStyle {
    letter-spacing: 0.6px;
    padding: 3px 8px;
    margin-top: 8px;
  }
}
@media (max-width: 480px) {
  .sidebar {
    right: 10px;

    position: relative;
    width: 95%;
    height: 25%;
    background-color: #99d3db;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .infoContainer {
    margin-left: 10px;
    height: 100%;
    margin-top: 5px;
    width: 50%;
    padding-top: 5px;
  }
  .imagecontainer {
    padding-top: 10px;
    position: absolute;
    right: 10px;
    height: 100%;
    width: 30%;
  }
  .skillsContainer {
    align-items: left;
    columns: 2;
    column-gap: 10px;
    margin-left: 10px;
    height: fit-content;
    width: 100%;
  }
  #container {
    width: 95%;
    padding: 5px;
    margin-left: 0px;
  }
  .avatar {
    margin-top: 5px;
    width: 50%;
    border-radius: 50%;
    border: 2px solid #ffffff;
    height: auto;
  }
  .title {
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .introduction_text {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    left: 1px;
  }
  .imgNameFont {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .skillsHeading {
    margin-inline-start: 10px;
    text-align: start;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 3px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: 12px;
    margin-top: 5px;
  }

  .skills {
    color: #5d5151;
    font-size: 12px;
    margin-top: 3px;
    line-height: 10px;
    text-align: left;
  }

  .sectionHeading {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 3px;
  }
  .sectionParagraph {
    padding-right: 10px;
    font-size: 12px;
  }
  .model-content {
    left: 50%;
    width: 80%;
    margin-top: 40px;
  }
  li {
    font-size: 12px;
    padding-right: 6px;
  }
  .experience-item {
    padding: 6px;
    margin: 1px 1px;
    position: relative;
    display: block;
  }
  .experience-item h3 {
    font-size: 12px;
    margin: 0;
  }
  .experience-item p {
    font-size: 12px;
    margin: 0px 0;
  }

  .navbar {
    height: 30px;
    padding: 5px 0;
  }

  .navbar li {
    margin: 0 4px;
  }
  .navbar a {
    letter-spacing: 0.6px;
    font-size: 12px;
  }

  .btnStyle {
    letter-spacing: 0.6px;
    padding: 3px 3px;
    margin-top: 5px;
  }

  .linkedIn {
    color: #5d5151;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  footer {
    height: fit-content;
    color: #fff;
    padding: 5px 0;
    width: 100%;
  }
  .linkedIn a {
    margin-left: 15px;
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
  }
}
