#body_main {
  font-family: Arial, sans-serif;
  min-width: 100%;
  line-height: 1.6;
  background-color: #c1dfe4;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar a {
  font-family: "Fjalla One";
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.navbar a.selected {
  color: #17a2b8;
}
.btnStyle {
  font-family: "Fjalla One";
  letter-spacing: 1px;
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
.sidebar {
  position: fixed;
  width: 20%;
  margin-right: 20px;
  text-align: center;
  height: 100%;
  float: right;
  margin-top: 40px;
  right: 1px;
  display: flex;
  flex-direction: column;
}
.borderSidebar {
  width: 100%;
  height: 88%;
  margin-top: 30px;
  border: 5px solid #ffffff;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.skillsContainer {
  margin-top: 50px;
  width: 100%;
  padding-top: 5px;
  height: auto;
  margin: 0 auto;
  align-items: center;
}

.introduction_text {
  font-family: "Francois One", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  color: #555;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.avatar {
  margin-top: 50px;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #ffffff;
  height: auto;
  margin: 0 auto;
}
.imgNameFont {
  font-family: "Fjalla One", sans-serif;
  font-size: 22px;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 10px;
}
.skillsHeading {
  text-decoration: underline;
  font-family: "Francois One";
  font-size: 20px;
  color: #000000;
  margin-top: 35px;
  margin-bottom: 3px;
}

.skills {
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
  color: #5d5151;
  line-height: 15px;
  margin-top: 10px;
  align-self: center;
}

#container {
  width: 75%;
  padding: 20px;
  margin-left: 10px;
}
.border {
  border: 5px solid #ffffff;
  border-width: 2px;
  border-radius: 5px;
  padding: 0px 5px 3px 15px;
  margin-bottom: 10px;
}

.title {
  margin-top: 50px;

  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
  color: #000000;
  margin-bottom: 10px;
}
.heading2 {
  font-family: "Francois One";
  font-size: 22px;
  color: #555;
  margin-top: 10px;
  margin-bottom: 3px;
}
.paragraph {
  color: #5d5151;
  margin-top: 5px;
  line-height: inherit;
  justify-content: right;
  padding-right: 20px;
  text-align: justify;
  font-size: 16px;
}

#ul {
  margin-left: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.linkedIn {
  color: #5d5151;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}
.linkedIn a {
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
}
.linkedIn a :hover {
  color: #d6ebba;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

li {
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  color: #5d5151;
  display: flex;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
