#body_main {
  font-family: Arial, sans-serif;
  min-width: 100%;
  line-height: 1.6;
  background-color: #c1dfe4;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}

.navbar li {
  display: inline-block;
  margin: 0 10px;
}

.navbar a {
  font-family: "Fjalla One";
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.navbar a.selected {
  color: #17a2b8;
}
.heading2 {
  font-family: "Francois One";
  font-size: 24px;
  color: #555;
  margin-top: 5px;
  margin-bottom: 3px;
}
.list li {
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  color: #5d5151;
  color: #657274;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #17a2b8;
}

.list li:hover {
  background-color: #fce3e3;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #888;
  cursor: pointer;
}
#addForm {
  display: none;
}

#addForm label {
  color: rgb(221, 40, 40);
  font-weight: bold;
}

#addForm input[type="text"],
#addForm textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#addForm button[type="submit"] {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#addForm button[type="submit"]:hover {
  background-color: #218838;
}

/* Style the "Add Item" button */
.addButton {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
.span {
  color: rgb(38, 38, 39);
  font-weight: bold;
  margin-right: 10px; /* Add some spacing between icon and text */
}
#ul {
  margin-left: 30px;
}
#li {
  color: #5d5151;
  font-size: 20px;
  margin-top: 2px;
}
